@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agrandir';
  src: url('/personal-fastNAS-website/assets/fonts/Agrandir-Regular.otf') format('opentype'),
       url('/personal-fastNAS-website/assets/fonts/Agrandir-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agrandir';
  src: url('/personal-fastNAS-website/assets/fonts/Agrandir-TextBold.otf') format('opentype'),
       url('/personal-fastNAS-website/assets/fonts/Agrandir-TextBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Horizon';
  src: url('/personal-fastNAS-website/assets/fonts/Horizon.woff2') format('woff2'),
       url('/personal-fastNAS-website/assets/fonts/Horizon.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
